{% block stylesheets %}<link href="{{ asset('css/history.css')}}" rel="stylesheet">{% endblock %}
{% block javascripts %}<script src="{{ asset('js/particles.js')}}"></script>{% endblock %}
{% extends "base.html.twig" %}
{% block title %}History Page {% endblock %}
{% block nav %}
 <a href="/"><i class="fas fa-sign-out-alt fa-2x"></i></a>
 <div class="profile"></div>


{% endblock %}

{% block body %}




{% endblock %}







